#wholePage {
  background-color: lightblue;
  background-size: 100%;
}

#map {
  min-height: 500px;
  height: 100%;
  border: 1px solid black;
}

.container {
  padding-top: 80px;
}

#counties {
  visibility: hidden;
}

.card-deck {
  padding-top: 100px;
  padding-bottom: 50px;
  color: black;
}

