body {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToz7dFvVYXDR6J9Yc8O6ZKSEvJq8qyKOqrp-n5-xuBv8UZJ8Ks);
  color: gold;

}

h3, h4 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#map {
  min-height: 500px;
  height: 100%;
  border: 1px solid black;
}

.container {
  padding-top: 80px;
  /* background-color: white; */
}

#counties {
  visibility: hidden;
}

.card-deck {
  padding-top: 100px;
  padding-bottom: 50px;
}

/* News Content */
.news-div {
	width: 80%;
	height: auto;
}

#news-reference {
	color: gray;
	font-size: 12px;
}

#article-view, #news-reference, .title-view, #article-title {
  margin: 0;
  padding: 0;
}

.title-view a:link, a:visited { 
    color: blue;
    cursor: auto;
}

.title-view a:link:active, a:visited:active { 
    color: green;
}

.rounded {
	width: 70%;
}

.result-content {
  margin-top: 15px;
}

#disaster-tabs a:link {
  color: gold;
}
